@model NumberPresenter.Web.Models.IndexModel

<html>
<head>
    <link rel="stylesheet" href="~/css/app.css"/>
</head>
<body>
<div class="welcome-row">
    <h1>Welcome to the Roman Numerator</h1>
    <p>Please type in a number in the box below and press the "Convert" button to get its Roman numeral.</p>
</div>
<form action="/" method="post">
    <div class="box-row">
        <div class="box box--user-input">
            @Html.TextAreaFor(m => m.UserInput, new { @class = "box--user-input__textbox"})
        </div>
        <div class="box box--result">
            @Model?.Result
        </div>
    </div>
    <div class="button-row">
        <input type="submit" value="Convert"/>
    </div>
</form>
<div class="error-report-row">
    @Model?.ErrorMessage
</div>
</body>
</html>