@model NumberPresenter.Web.Models.IndexModel

<html>
<body>
<form action="/" method="post">
    <div class="box-row">
        <div class="box user-input">
            @Html.TextBoxFor(m => m.UserInput);
        </div>
        <div class="box result">
            @Model?.Result
        </div>
    </div>
    <div class="button-row">
        <input type="submit" value="Convert"/>
    </div>
</form>
<div class="error-report">
    @Model?.ErrorMessage
</div>
</body>
</html>